<form>
  <mat-form-field>
    <mat-label>Search repo</mat-label>
    <input
      (appSearch)="searchRepo($event)"
      matInput
      placeholder="Type repo name..."
    >
    <mat-spinner
      diameter="16"
      [style.opacity]="(repoListIsLoading$ | async) ? 1 : 0"
      matSuffix
    ></mat-spinner>
  </mat-form-field>
</form>
<app-repo-list-filter
  (maxOpenIssuesChange)="maxOpenIssuesChange($event)"
  (programmingLanguageChange)="programmingLanguageChange($event)"
  [maxOpenIssues]="numMaxOpenIssuesFilter$ | async"
  [numOpenIssuesRange]="numOpenIssuesRange$ | async"
  [programmingLanguageList]="programmingLanguageList$ | async"
></app-repo-list-filter>
<app-repo-list
  (showRepoDetails)="showRepoDetails($event)"
  [repoList]="repoList$ | async"
></app-repo-list>
